
                    <div class="row mt-5">
                        <h3 class=" mb-5" style="letter-spacing: 3px;">WEB DESIGN PROJECTS</h3>
                        <div class="col-lg-12">
                            <p class="text-muted"><small class="text-primary">developed using html & css</small><br> <span class="lead display-6">1)The Time: E-commerce static website</span></p>
                            <p>Created in html and css grid layout. This website is not responsive.</p>
                            <p>Link: <a href="https://fareen341.github.io/The-Time-Watches/" target="_blank"> https://fareen341.github.io/The-Time-Watches/</a></p>
                            <img src="assets/img/w1.png" width="100%">                                      
                        </div>

                        <div class="col-lg-12">
                            <p class="text-muted"><small class="text-primary">developed using html, css and bootstrap</small><br> <span class="lead display-6">2)The Concrete Construction</span></p>
                            <p>Created in html, bootstrap and little css. This website is responsive. </p>
                            <p>Link: <a href="https://fareen341.github.io/bootstrap-project/index.html" target="_blank">https://fareen341.github.io/bootstrap-project/index.html</a></p>
                            <img src="assets/img/w2.png" width="100%">                                      
                        </div>
                       <!-- <div class="col-lg-6">
                            <a href="https://fareen341.github.io/The-Time-Watches/"><img class="static" src="assets/img/w1.png" height="400px" width="400px"><img class="active" src="assets/img/w1.gif" height="400px" width="400px"></a>
                        </div>
                        <div class="col-lg-6 p-2">
                            <p class="text-muted"><small class="text-primary">developed using html & css</small><br> <span class="lead display-6">The Time: E-commerce static website</span></p>
                            <p>Created in html and css grid layout. This website is not responsive. </p>
                        </div> 
                        

                        <div class="col-lg-6 p-2 mt-5">
                            <p class="text-muted"><small class="text-primary">developed using html, css and bootstrap</small><br> <span class="lead display-6">The Burhani Construction</span></p>
                            <p>Created in html, bootstrap and little css. This website is responsive.</p>
                        </div>
                        <div class="col-lg-6 mt-5 mb-5">
                            <a href="https://fareen341.github.io/bootstrap-project/"><img class="static" src="assets/img/w2.png" height="400px" width="400px"><img class="active" src="assets/img/w2.gif" height="400px" width="400px"></a>
                        </div>-->

                        
                        <!--wordpress
                        <p class="border-bottom"></p>

                        <h3 class="mt-5 mb-5" style="letter-spacing: 3px;">WORDPRESS PROJECT</h3>
                        <div class="col-lg-6">
                            <a href=""><img class="static" src="assets/img/cat2.png" height="400px" width="400px"><img class="active" src="assets/img/cat2.gif" height="400px" width="400px"></a>
                        </div>
                        <div class="col-lg-6 p-2">
                            <p class="text-muted"><small>PROJECT1</small><br> <span class="lead display-6">HERE ARE SOME OF SKILLS</span></p>
                            <p>Brad Myers, a professor at Carnegie Mellon's Human-Computer Interaction Institute, puts it thus: "There are many areas of computing where the system as a whole cannot predict how long [a task] will take, so progress bars don't move in a consistent way.</p>
                        </div>-->
                        
                        <!--DJANGO-->
                        <p class="border-bottom mt-5"></p>

                        <h3 class="mt-5 mb-5" style="letter-spacing: 3px;">DJANGO PROJECTS</h3>
                        <div class="col-lg-12">
                            <p class="text-muted"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">1)Fitness Gym</span></p>
                            <p>This is a gym website where customers can see the ongoing events, offers, services, pricing, branches and contact the gym owner using the contact form. Customers can also give the feedback using the feedback form.</p>
                            <img src="assets/img/d1.png" width="100%">                                      
                        </div>
                        
                        <div class="col-lg-12">                    
                            <p class="text-muted mt-5"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">2)Watch Shop: E-commerce Website</span></p>
                            <p>This is an e-commerce website where seller can upload there watches and customer can interact with the website see the watches, add them to cart and place order.</p>
                            <img src="assets/img/watchshop.png" width="100%">                                      
                        </div>

                        <div class="col-lg-12">                    
                            <p class="text-muted mt-5"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">3)Django Blog</span></p>
                            <p>This is a simple django blog where user can upload there blog, see the blog they have uploaded and can update, delete. And uses can read the available blogs.<br>Using the AWS services i deployed this project on EC2 instance with load balancer, RDS database and nginx web server.</p>
                            <img src="assets/img/blogproject.png" width="100%">                                      
                        </div>

                        <div class="col-lg-12">                    
                            <p class="text-muted mt-5"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">4)News Aggregator</span></p>
                            <p>This project scrap news from different news websites.</p>
                            <img src="assets/img/news_aggregator.png" width="100%">                                      
                        </div>
                        
                       <!-- <div class="col-lg-6 mb-5">
                            <a href=""><img class="static" src="assets/img/d1.png" height="400px" width="400px"><img class="active" src="assets/img/d1.gif" height="400px" width="400px"></a>
                        </div>
                        <div class="col-lg-6 p-2 ">
                            <p class="text-muted"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">Fitness Gym</span></p>
                            <p>This is a gym website where customers can see the ongoing events, offers, services, pricing, branches and contact the gym owner using the contact form. Customers can also give the feedback using the feedback form.</p>

                        <div class="col-lg-6 mb-5">
                            <a href=""><img class="static" src="assets/img/cat2.png" height="400px" width="400px"><img class="active" src="assets/img/cat2.gif" height="400px" width="400px"></a>
                        </div>
                        <div class="col-lg-6 p-2">
                            <p class="text-muted"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">Watch Shop</span></p>
                            <p>This is an e-commerce website where seller can upload there watches and customer can interact with the website see the watches, add them to cart and place order.<br>Using the AWS services i deployed this project on EC2 instance with load balancer, RDS database and nginx web server.<br>Hover on image to see the structure of the website.</p>
                        </div>

                        <div class="col-lg-6 mb-5">
                            <a href=""><img class="static" src="assets/img/cat2.png" height="400px" width="400px"><img class="active" src="assets/img/cat2.gif" height="400px" width="400px"></a>
                        </div>
                        <div class="col-lg-6 p-2">
                            <p class="text-muted"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">Django Blog</span></p>
                            <p>This is a simple django blog where user can upload there blog, see the blog they have uploaded and can update, delete. And uses can read the available blogs.<br>Hover on image to see the structure of the website.</p>
                        </div>

                        <div class="col-lg-6 mb-5">
                            <a href=""><img class="static" src="assets/img/cat2.png" height="400px" width="400px"><img class="active" src="assets/img/cat2.gif" height="400px" width="400px"></a>
                        </div>
                        <div class="col-lg-6 p-2">
                            <p class="text-muted"><small class="text-primary">developed in Frontend: html, css and bootstrap Backend: django</small><br> <span class="lead display-6">Resume Builder</span></p>
                            <p>This is a online resume builder website which uses the cookie to stored the data entered by the user and write that cookie information of customer on resume. I only have two resume sample available so far, i'll add more resume samples.<br>Hover on image to see the structure of the website.</p>
                        </div> -->

                        <!--Wordpress-->
                        <p class="border-bottom mt-5"></p>

                        <h3 class="mt-5 mb-5" style="letter-spacing: 3px;">WORDPRESS PROJECTS</h3>
                        <div class="col-lg-12">
                            <p class="text-muted"><small class="text-primary">developed in Frontend: wordpress Backend: MySql</small><br> <span class="lead display-6">Wordpress Blog</span></p>
                            <p>Using AWS EC2 service i have developed wordpress blog with database using RDS database service.</p>
                        </div>
                        
 

                        <!--AWS-->
                        <p class="border-bottom mt-5"></p>
                        <h3 class="mt-5 mb-5" style="letter-spacing: 3px;">AWS PROJECTS</h3>
                        <div class="col-lg-6 p-2">
                            <p class="text-muted"><small class="text-primary">AWS Project</small><br> <span class="lead display-6">EC2 Project</span></p>
                            <p>Using the AWS services i deployed the django project on EC2 instance with load balancer, RDS database and nginx server.</p>
                        </div>
                    
                        <div class="col-lg-12 mt-5 mb-5">
                                <p class="text-muted"><span class="lead display-6">FEEDBACK</span></p>
                                <p>If you like my projects please give me feedback it'll really be helpful for me to improve my future projects. Click on feedback button to share your feedback with me. Thank you.</p>
                            <p class="my-4"> <a href="/feedback" class="text-decoration-none btnstyle ">Feedback</a></p>
                        </div>

    </div>