<div class="row justify-content-md-center mt-5">
    <div class="col-lg-8">
        <p class="text-muted text-center"><small>CONTACT ME</small><br> <span class="lead display-6">GET IN TOUCH</span></p>
    </div>
    <div class="col-lg-6 mb-5">
            <form style="padding:15px;">
                <input type="text" placeholder="FullName" class="logininputarea"  style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; width:100%;"><br>
                <input type="email" placeholder="Email" class="logininputarea"  style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; width:100%;"><br>
                <input type="textarea" placeholder="Message" class="logininputarea"  style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; width:100%;"><br>
                <br>
                <input type="Submit" class="btnstyle logininputsubmit" value="SUBMIT">
            </form>
    </div>
</div>

 <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
