
                    <div class="row">
                        <div class="col-lg-6 mt-5">
                            <img src="assets/img/home.jpg" height="550px" width="100%">
                        </div>
                        <div class="col-lg-6 mt-5">
                        <p class="text-muted"><small>WELCOME & INTRODUCE</small><br> <span class="lead display-6">HELLO! MY NAME IS FAREEN ANSARI!</span></p>
                        <span style="text-align:justify; font-family: 'Slabo 27px'">I enjoy developing projects in django framework, it becomes easier for me to build web applications with clean, readable, and maintainable code by taking advantage of syntax rules of Python. And i also enjoy working on python language it is fun to write code in python. And for deployment i usually like AWS because in AWS you've flexibility to select the operating system, programming language, web application platform, database, and other services you need with pay-as-you-go approach for pricing. </span>
                            <section class="mt-3">
                            <div class="accordion" id="accordionExample">
                                    <div class="accordion-item ">
                                        <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button bg-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="">What I Do?</span>
                                        </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                I'm a Web Design and Web Application Developer, who loves exploring complex problem in search of delightful user experiences. 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed bg-light text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            My Background
                                        </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <p>I completed my schooling from Mumbai --in year 2014 <br> I've done my BscIT --in year 2018 and MCA --in year 2021.<br>I have finished my PG in Python Development from Itvedant institute(Mumbai) and AWS training from Naresh IT(Hydrabad) in 2021. </p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </section>  
                    </div>


                        <div class="col-lg-12 mt-5">
                            <p class="text-muted"><small>MY SKILLS</small><br> <span class="lead display-6">HERE ARE SOME OF SKILLS</span></p>
                            <div class="row">
                               <div class="col-lg-6">
                                <p class="lead"><i><b>HTML5</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; The HyperText Markup Language, or HTML is the standard markup language for documents designed to be displayed in a web browser. </span></p>
                                </div>
                                <div class="col-lg-6 ">
                                <p class="lead"><i><b>CSS3</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markup language such as HTML.</span></p>
                                </div>
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>BOOTSTRAP</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Bootstrap is the most popular HTML, CSS and JavaScript framework for developing a responsive and mobile friendly website.</span></p>
                                </div>
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>JAVASCRIP</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; JavaScript is a text-based programming language used both on the client-side and server-side that allows you to make web pages interactive. </span></p>
                                </div>
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>JQUERY</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; JQuery is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much easier to use JavaScript on your website.</span></p>
                                </div>
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>DJANGO</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Django is a high-level Python web framework that enables rapid development of secure and maintainable websites.</span></p>
                                </div>  
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>DJANGO REST FRAMEWORK</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Django REST framework is a powerful and flexible toolkit for building Web APIs.</span></p>
                                </div>
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>PYTHON</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Python is an interpreted high-level general-purpose programming language.</span></p>
                                </div> 
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>WORDPRESS</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; WordPress is a free and open-source content management system written in PHP and paired with a MySQL or MariaDB database.</span></p>
                                </div> 
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>AWS (Cloud)</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Amazon Web Services (AWS) is the world’s most comprehensive and broadly adopted cloud platform, offering over 200 fully featured services from data centers globally. </span></p>
                                </div> 
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>HEROKU (Cloud)</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Heroku is a cloud platform as a service supporting several programming languages</span></p>
                                </div> 
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>ANGULAR</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Angular is a platform and framework for building single-page client applications using HTML and TypeScript.</span></p>
                                </div> 
                                <div class="col-lg-6 mt-4">
                                <p class="lead"><i><b>GIT (Vesion Control)</b></i><br><span class="" style="border-left:5px solid;">&nbsp; &nbsp; Git is a version control system that developers use all over the world. </span></p>
                                </div> 
                            </div>
                        </div>

                        <div class="col-lg-12 mt-5">
                            <p class="text-muted text-end"><small>MY SKILLS</small><br> <span class="lead display-6">SKILLS PROFICIENCY</span></p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>HTML5</b></i></p>
                                </div>

                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>CSS3</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>BOOTSTRAP</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>JAVASCRIP</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>JQUERY</b></i></p>
                                </div>                                
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>DJANGO</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>DJANGO REST FRAMEWORK</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>PYTHON</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>WORDPRESS</b></i></p>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>HEROKU</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>ANGULAR</b></i></p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>GIT</b></i></p>
                                </div>  
                                <div class="col-lg-6">
                                    <div class="progress mt-2" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                                        <div class="progress-bar bg-dark text-light" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p class="lead"><i><b>AWS(Services: EC2,
                                        ElasticBeanStalk, LightSail,
                                        Lambda, S3, EBS, EFS, RDS,
                                        DynamoDB, VPC, CloudFront,
                                        IAM, CloudWatch, SNS,
                                        Route53)</b></i></p>
                                </div>                          
                            </div>
                        </div>
                        
                        <div class="col-lg-12 mt-5">
                            <p class="text-muted"><small>CONTACT ME</small><br> <span class="lead display-6">GET IN TOUCH!</span></p>
                            <p>If you like my work contact me.</p>
                            <p class="my-4"> <a href="/contact" class="text-decoration-none btnstyle ">Contact Me</a></p>
                           <!-- <router-outlet></router-outlet>  -->
                        </div>
                        
                    <div class="mb-5"></div>
                    <br>
                        <br>
                        

          