<div class="row justify-content-md-center mt-5">
    <p class="text-muted"><small>MY ACHIEVEMENT</small><br> <span class="lead display-6">CERTIFICATION</span></p>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Microsoft Python Certification
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>Certified in Microsoft Technology Associate-Introduction to Programming Using Python</p>
                <footer class="blockquote-footer">Nov 17, 2021</footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mt-5">
        <div class="card">
        <div class="card-header">
            IIT spoken tutorial
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Certificate for completion of C, C++ Training from IIT Bombay(Spoken Tutorial) </p>
            <footer class="blockquote-footer">1 Feb, 2019</footer>
            </blockquote>
        </div>
        </div>
    </div>

    <div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-header">
            IIT spoken tutorial
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Certificate for completion of Java Training from IIT Bombay(Spoken Tutorial) </p>
            <footer class="blockquote-footer">1 Feb, 2019</footer>
            </blockquote>
        </div>
        </div>
    </div>
    <div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-header">
            ITVEDANT
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Certificate for completion of PG in Python Development.</p>
            <footer class="blockquote-footer">1 Feb, 2019</footer>
            </blockquote>
        </div>
        </div>
    </div>

    <div class="col-lg-12 mt-5">
    <div class="card">
        <div class="card-header">
            NARESH IT
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p>Certificate for completion of AWS training. </p>
            <footer class="blockquote-footer">1 Feb, 2019</footer>
            </blockquote>
        </div>
        </div>
    </div>
    
    <div class="col-lg-12 mt-5 mb-5">
    <p class="text-muted"><small>MY ACHIEVEMENT</small><br> <span class="lead display-6">HACKERRANK BADGES</span></p>
        <img src="assets/img/badges.png" width="100%">
    </div>
</div>